 * {
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #121c2a, #141c27);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .container {
    background: rgba(20, 24, 32, 0.95);
    border-radius: 12px;
    padding: 40px 40px 36px 40px;
    width: 360px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.85);
    display: flex;
    flex-direction: column;

  }

  /* Centered headings */
  h1, p.subtitle, h2 {
    text-align: center;
    margin: 0 0 12px 0;
  }

  h1 {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.3;
  }

  p.subtitle {
    font-weight: 400;
    font-size: 0.9rem;
    color: #9ca3af;
    margin-bottom: 28px;
  }

  h2 {
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 24px;
    width: 100%;
  }

  form {
    width: 100%;
  }

  label {
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 6px;
    color: #d1d5db;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],input[type="tel"] {
    background: #1e2533;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 12px 20px;
    color: #cbd5e1;
    font-size: 0.9rem;
    outline: none;
    margin-bottom: 18px;
    transition: background 0.3s;
  }

  input::placeholder {
    color: #6b7280;
  }

  input:focus {
    background: #292f43;
  }

  .password-wrapper {
    position: relative;
  }

  .password-wrapper svg {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #6b7280;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  button {
    width: 100%;
    padding: 14px 0;
    margin-top: 12px;
    background: #7c3aed;
    border: none;
    border-radius: 24px;
    font-weight: 700;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }

  button:hover {
    background: #682dcc;
  }

  .footer-text {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #9ca3af;
    text-align: center;
  }

  .footer-text a {
    color: #7c3aed;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
  }

  .footer-text a:hover {
    text-decoration: underline;
  }
  label{
    margin-left: 0px;
  }